.env
token.pickle
__pycache__/
venv/
db/
db/*.sqlite3
db/*.bin
db/*.pickle
data/*.xlsx
data/*.pdf
data/*.docx
data/*.epub
*.json
*.jsonl
config/*.json
config/*.jsonl
config/credentials.json
credentials.json
data/gdrive/
!project/helpers/translation.json
!project/helpers/gdrive_file_map.json
!data/structured/